div#container{
	width:790px;
	height:970px;
    background-color:#000;
    margin: 0 auto;
	color:white;
	border:2px solid red;
	}
	div#head{
	height:40px;
	background-color:#555;
	padding-top:5px;
	}
	div#head ul li a{
		text-decoration:none;
		color:black;
	}
	a{
		text-decoration:none;
		color:white;
	}
	div#head ul li{
		display:inline;
		padding:10;
		position:relative;
		top:-7px;
		background-color:red;
		border-radius:5px;
		list-style-type:none;
	}
	div#head ul li:hover{
		background-color:yellow;
	}
	aside#left{
		width:190px;
		height:580px;
    	float:left;
	}
	section{
		width:405px;
		height:600px;
	    float:left;
		background-color:black;
		border-bottom:2px solid green;
		
	}
	 p#header{
		color:reed;
	}
		
		
		
		
		
	aside#ride{
		width:190px;
		height:600px;
		border-left:3px dotted green;
		border-bottom:2px solid green;
	float:right;
	clear:boot;
	} 
	div#somephoto{
		width:190px;
		height:30px;
		text-align:center;
        padding-top:5px;
		background-color:gray;
		border-radius:10px;
	}
	div#barabar{
		width:185px;
		height:140px;
		border:1px solid red;
		
	}
	div#zeraksgerd{
		width:185px;
		height:40px;
		background-color:gray;
		border-radius:10px;
	   text-align:center;

	}
	div#links{
		width:185px;
		height:127px;
	   background-color:#444;
	   position:relativ;
	   top:-15px;
	  
	   }
	div#links a{
		color:white;
		padding-left:7px;
	}
	div#especialphoto{
		width:185px;
		height:30px;
		background-color:gray;
		border-radius:10px;
	}
	div#aksakhar{
		width:185px;
		height:120px;
		background-color:#333;
	}
	ul#sa{
		list-style-type:none;
	}
	ul#sa{
		display:inline;	
		position:relative;
		left:-30px;
	
	}
	
	ul#sa div{
		display:none;
	}
	ul#sa:hover div#name{
		display:block;
	}

	ul#sa:hover input{
		display:black;
	}
	
	div#name{
		width:185px;
		height:350px;
		background-color:gray;
		position:absolute;
		left:30px;
		top:17px;
	  color:white;
	  background-image:url("pictures/pic(16).jpg");
	}
	
	 ul#sa2 input{
		 display:none;
	 }
	 
	
	
	  ul#sa2{	
		position:relative;
		left:5px;
		top:5px;
	  color:white;  
	  display:inline;
	  }
	
	
	ul#sa2 div{
		display:none;
	}
	
	 ul#sa2:hover div#name1{
		display:block;
	}
	
	
	
	 ul#sa2:hover input{
		 display:inline;		 
	 }

	  ul#sa2 input{
		  background-color:white;
	  }
	 
	 
	 div#name1{
		width:195px;
		height:350px;
		background-color:gray;
		position:absolute;
		left:-100px;
		top:17px;
	  color:white;
	  background-image:url("pictures/pic(11).jpg");
	}
	
	 
	
	div#both{
		clear:both;
	}
	footer{	
		height:300px;
		width:300px;
		background-color:red;
	
	}
	div#dakhelsection{
		width:250px;
		height:230px;
		background-color:blue;
		float:left;
	}
	p#first{
		text-align:justify;
		float:rigth;
		font-size:14;
		position:relative;
		left:1px;
		top:-5px;
		padding-right:7px;
	}
	div#aksakhar  img{
		width:185px;
		height:120px;
	}

	div#right2{
		width:190px;
		height:30px;
		background-color:gray;
		border-radius:10px;
		text-align:center;
		padding-top:10px;
	}
		div#right3{
		width:170px;
		height:150px;
		background-color:white;
		margin: 0 auto;
		position:relative;
		top:10px;
	border-radius:10px;
	}
	
	
	
	div#right3 {
   
    position: relative;
    animation-name: my;
    animation-duration: 60s;
	animation-iteration-count:infinite;
	
	margin:0 auto;
}
@keyframes my{
0%      {transform: rotate(0deg);}
5%      {transform: rotate(10deg);}
10%      {transform: rotate(-10deg);}
15%      {transform: rotate(10deg);}
20%      {transform: rotate(-10deg);}
25%      {transform: rotate(10deg);}
30%		{transform: rotate(-10deg);}
35%		{transform: rotate(10deg);}
40%		{transform: rotate(-10deg);}
45%		{transform: rotate(10deg);}
50%		{transform: rotate(-10deg);}
55%		{transform: rotate(10deg);}
60%		{transform: rotate(-10deg);}
65%		{transform: rotate(10deg);}
70%		{transform: rotate(-10deg);}
75%		{transform: rotate(10deg);}
80%		{transform: rotate(-10deg);}
85%		{transform: rotate(10deg);}

90%	    {transform: rotate(-10deg);}
95%	    {transform: rotate(10deg);}
100%	{transform: rotate(-10deg);}


}
   div#right3 img{
	border-radius:10px;
}
		div#right4{
		width:170px;
		height:150px;
		background-color:blue;
		margin: 0 auto;
		position:relative;
		top:30px;
		border-radius:10px;
	}
	
	
div#right4{
   
    position: relative;
    animation-name: my;
    animation-duration: 60s;
	animation-iteration-count:infinite;
	
	margin:0 auto;
}
@keyframes my{
0%      {transform: rotate(0deg);}
5%      {transform: rotate(10deg);}
10%      {transform: rotate(-10deg);}
15%      {transform: rotate(10deg);}
20%      {transform: rotate(-10deg);}
25%      {transform: rotate(10deg);}
30%		{transform: rotate(-10deg);}
35%		{transform: rotate(10deg);}
40%		{transform: rotate(-10deg);}
45%		{transform: rotate(10deg);}
50%		{transform: rotate(-10deg);}
55%		{transform: rotate(10deg);}
60%		{transform: rotate(-10deg);}
65%		{transform: rotate(10deg);}
70%		{transform: rotate(-10deg);}
75%		{transform: rotate(10deg);}
80%		{transform: rotate(-10deg);}
85%		{transform: rotate(10deg);}

90%	    {transform: rotate(-10deg);}
95%	    {transform: rotate(10deg);}
100%	{transform: rotate(-10deg);}


}
	
	
	div#right4 img{
		 width:170px;
		 height:150px;
		border-radius:10px;	
	}
	
	
		div#right6{
		width:170px;
		height:150px;
		background-color:white;
		margin: 0 auto;	
       border-radius:10px;	}
	   
	   div#right6 {
   
    position: relative;
    animation-name: my;
    animation-duration: 60s;
	animation-iteration-count:infinite;
	
	margin:0 auto;
}
@keyframes my{
0%      {transform: rotate(0deg);}
5%      {transform: rotate(10deg);}
10%      {transform: rotate(-10deg);}
15%      {transform: rotate(10deg);}
20%      {transform: rotate(-10deg);}
25%      {transform: rotate(10deg);}
30%		{transform: rotate(-10deg);}
35%		{transform: rotate(10deg);}
40%		{transform: rotate(-10deg);}
45%		{transform: rotate(10deg);}
50%		{transform: rotate(-10deg);}
55%		{transform: rotate(10deg);}
60%		{transform: rotate(-10deg);}
65%		{transform: rotate(10deg);}
70%		{transform: rotate(-10deg);}
75%		{transform: rotate(10deg);}
80%		{transform: rotate(-10deg);}
85%		{transform: rotate(10deg);}

90%	    {transform: rotate(-10deg);}
95%	    {transform: rotate(10deg);}
100%	{transform: rotate(-10deg);}


}
	   
	   
	   
	div#right6 img{
		width:170px;
		height:150px;
		margin: 0 auto;
	border-radius:10px;	
	
	}
	
	div#aksgerd{
		width:185px;
		height:40px;
	 
	}
	div#zeraksgerd{
		position:relative;
		top:-10px;
	}
	
	div#rsb{
		border-radius:10px;
	}
	
	
	section p#header{
		opacity:0.5;
		text-align:center;
		position:relative; 
		margin-bottom:-5px; 
		padding-bottom:20px;
		animation-name:p;
		animation-duration:5s;
		animation-iteration-count:infinite;
	}
	@keyframes p{
0%    {opacity: 1;}
15%      {opacity: 0.9;}
30%      {opacity: 0.6;}
50%      {opacity: 1;}
70%	     {opacity: 0.6;}
80%	     {opacity: 0.9;}
90%	     {opacity: 1;}
}
 div#links a  &#9755{
	opacity:0.5;
		animation-name:k;
		animation-duration:5s;
		animation-iteration-count:infinite;
	
}
@keyframes k{
0%    {opacity: 1;}
15%      {opacity: 0.9;}
30%      {opacity: 0;}
50%      {opacity: 1;}
70%	     {opacity: 0.6;}
80%	     {opacity: 0.9;}
90%	     {opacity: 1;}
}
